.container {
  max-width: 1400px;
  margin: 0 auto;
}
.add_newUsers {
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.add_newUsers > a {
  padding: 10px 20px;
  background-color: #9147ff;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
/* Start Main */
table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  padding: 8px;
  color: #495057;
}
thead tr {
  border: 1px solid #e9ecef;
  background-color: #e9ecef;
}
table tr:hover {
  background-color: #e9ecef;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.id_p {
  width: 150px;
  padding-left: 40px;
}
.userName {
  font-weight: 600;
}
.role .admin {
  background-color: #e9daff;
  color: #7439cc;
  padding: 4px 10px;
  border-radius: 10px;
}
.role .user {
  background-color: #ced4da;
  color: #343a40;
  padding: 4px 10px;
  border-radius: 10px;
}
td a {
  font-weight: 600;
}
.delete {
  color: #f03e3e;
}
.update {
  color: #7439cc;
}
th .centered_text {
  text-align: center;
}
